*{
    box-sizing: border-box;
    margin:0;
    padding:0; 
}

html{
    font-size: 62.5%;
    color: aliceblue; 
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Tourney', cursive;   */
    background: rgb(57, 56, 134);
}
.header__content{

    display: flex;
    justify-content: space-between;
    background: rgba(186, 156, 206,0.5);
    background: linear-gradient(90deg, rgb(153, 188, 224) 0%, rgba(131,58,180,1) 87%);   
}
.header__mark{
    display: flex;
    padding: 2rem;
}
.header__logo{
    width: 4rem;
    height: 3rem;
}
.header__content h1{
    font-size: 2.5rem;
}
nav{
    width: 14.5rem;
    height: 12rem;
    font-weight:lighter;
    padding: 1.5rem;
}
.nav__profile{
    display: flex;
    justify-content: space-between;
}
.nav__profile-image{
    width: 4rem;
    height: 3rem;
    margin: auto 0px auto 2rem;  
    border-radius: 1rem;
}
.nav__profile-name{                                  
    display: flex;
    align-items: flex-end;                 
    font-size: 1.6rem;  
}
.nav__profile__ul {
    display: none;  
    list-style: none;
    font-size: 1.6rem;
    margin: 10px 0;
    padding-left: 1.5rem;
    text-align: right;
}

.nav__profile__ul a{
    text-decoration: none;
    color: aliceblue;
}

nav:hover .nav__profile__ul, .nav__profile__ul:hover {
    display:list-item;
}

.nav__profile__ul a:hover{
    text-decoration: underline;
}
.viewer{
    background-color: black;
    margin: auto;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.viewer__text{
    color: aliceblue;
    font-size: 2rem;
    margin-top: 2rem;
}

.viewer__input{
    width: 70%;
    height: 4rem;
    border-radius: 2rem;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(57, 56, 134, 0.5);
    border: none;
    padding: 1rem;
    outline: none;   
    margin: 1rem;
}
::placeholder{
    color:aliceblue ;
}

.viewer__carrousel h2{
    font-weight: lighter;  
}

.carrousel{
    width: 100%;
    overflow: scroll;
    padding: 1rem;
    position: relative;
    background: rgba(186, 156, 206,0.5);
    background: linear-gradient(90deg, rgb(153, 188, 224) 0%, rgba(131,58,180,1) 87%);    
}
.viewer__carrousel{
white-space: nowrap;
padding-bottom: 2rem;
}

.viewer__carrousel__item{
height: 25rem;
width: 20rem;
border-radius: 2rem;
background-color: rgb(37, 16, 65);
overflow: hidden;
margin: 1rem;
margin-top: 5rem; 
display: inline-block;
position: relative;
cursor: pointer;
transition: 450ms all;
transform-origin: center left;
}

.viewer__carrousel__img{
    height: 25rem;
    width: 20rem;
    object-fit: cover;
}
.viewer__carrousel__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-flow: column ;
    top: 18rem;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1rem;
}

.viewer__carrousel__icons img{   
    height: 30px;
    width: 30px;
   
}
.carrousel__details__title .carrousel__details__subtitle{
    font-size: 0.5rem;
}
.viewer__carrousel__item:hover ~ .viewer__carrousel__item{
transform: translate3d(100px, 0, 0);
}

.viewer__carrousel:hover .viewer__carrousel__item{
opacity: 0.3;
}

.viewer__carrousel:hover .viewer__carrousel__item:hover{
 transform: scale(1.2);  
 opacity: 1;
}

footer{
    margin: auto;
    bottom: 0;
    text-align: center;
    width: 100%;
}
footer p{
    display: inline-block;
    padding: 0.5rem;
}
::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-corner{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}